<p>
		<%= label_tag :name %>:
		<%=h item_show.name %>
</p>
<p>
		<%= label_tag :number_of_runs, l(:field_number_of_runs)	 %>:
		<%=h item_show.number_of_runs %>
</p>
<p>
		<%= label_tag :mode %>:
	  <%=h item_show.mode %>
</p>
<p>
		<%= label_tag :b_time, l(:field_begin_time) %>:
	  <%=h item_show.display_time(:b_time) %>
</p>
<p>
		<%= label_tag :duration %>:
	  <%=h item_show.display_time(:duration) %>
</p>
<p>
		<%= label_tag :control %>:
	  <%=h item_show.control %>
</p>
<p>
		<%= label_tag :qcontrol,  l(:field_q_control) %>:
	  <%=h item_show.qcontrol %>
</p>
<p>
		<%= label_tag :events %>:
	  <%=h item_show.events %>
</p>
<p>
		<%= label_tag :start_time,  l(:field_start_time) %>:
	  <%=h format_date_time(item_show.start_time) %>
</p>


