<% form_tag(process_choices_project_simulation_batches_path(@project)) do %>
<div>
	 <%= render :partial => 'menu', 
               :locals => {:project => :project_id} %>
</div>
<div class="autoscroll">
<table class="index list"> 
	<thead>
	  <tr>
		  <th class='checkbox index-menu-multiple'>
				<%= link_to_function image_tag('toggle_check.png'), {}, :onclick => 'toggleIssuesSelection(Element.up(this, 	
							"form")); return false;', :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
       </th>
    
			<%= sort_header_tag('name', :caption => l(:field_name),:default_order => 'desc') %>
			<%= sort_header_tag('created_at', :caption => l(:field_created_on),:default_order => 'desc') %>
			<%= sort_header_tag('user_id_creator', :caption => l(:field_created_by),:default_order => 'desc') %>
			<th title=<%= l(:label_actions) %>><%= l(:label_actions) %></th>
	  </tr>
	</thead>
	<tbody>
 <% if @item_count == 0 %>
	<tr>
	<td colspan='4' >No records to display</td>
	</tr>
<% else %>
	<% @items_show.each_with_index do |sim,i| %>
	  <tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
	  <td class='index-menu-multiple'><%= check_box_for_sim(sim) %></td>
		<td  ><%= link_to_function sim.name, "show_box('simulation-info-#{sim.id}');" %></td>
	 	<td  ><%=h format_date_time(sim.created_at) %></td>
	 	<td  ><%= sim.user_id_creator %></td>
	 	<td  >
			<%= link_to '',delete_report_project_simulation_batch_path(@project,sim.id), :confirm=>  l(:label_delete_item), :class => 'icon icon-del' %> | 
			<%= link_to '', '', :class => 'icon icon-edit' %> 
		</td>
	  </tr>

	<% end %>
<% end %>

   </tbody>

</table>
<% end %>
<% @items_show.each_with_index do |sim,i| %>
	<div class="simulation-info" id="simulation-info-<%= sim.id %>" style="display: none;">
		<button class="simulation-overlay-cancel config" id="<%= sim.id %>-overlay-cancel" onClick="hide_box('simulation-info-<%= sim.id %>')"></button>
		  <h2>Simulation Data Information</h2>
	  <%= render :partial => 'show', 
	             :locals => {:item_show => sim} %>
	</div>
<% end %>

	<div id="report-generator" style="display: none;" class="box tabular">
		<button class="simulation-overlay-cancel config" id="report-generator-overlay-cancel" onClick="resetPage()"></button>
  	<%= render :partial => 'simulation_batches/report_generator/form'%>
	</div>


</div>
<% if @item_count != 0 %>
	<p class="pagination"><%= pagination_links_full @item_pages, @item_count %></p>
<% end %>
<script language="javascript">
	function processSimId(val,name){
		
		var sp = jQuery('#simulation-batch-list');
		var spBegin = jQuery('#begin-msg');
		var spName = jQuery('#simulation_batch_name');
		strSimIds = 	document.getElementById('sim_ids').value;
		if(document.getElementById(val + '-checkbox').checked){
				  //this maintains the hidden tag of sim_ids
				  if(strSimIds.length > 0)
							strSimIds  += "," + val;
					else
						  strSimIds  = val;

 					//this maintains the list of batches on the Basics tab of report generator
					if(spBegin.length > 0)
						spBegin.remove();
						
					sp.append("<li id='" + replaceAllSpaces(name) + "'>" + name + "</li>");
					if(spName.val().length <= 0)
						spName.val(name);

		}
		else
		{
			   //this maintains the hidden tag of sim_ids
				strSimIds  = strSimIds.replace(val + ",","");
				if(strSimIds.search(val) != -1)
				 					strSimIds  = strSimIds.replace(val,"");
				 
				//this maintains the list of batches on the Basics tab of report generator
			  jQuery('#' + replaceAllSpaces(name)).remove();
				if(sp.children().length == 0){
					sp.append("<span id='begin-msg'>Please close this window and select a batch(es) for the report generator to 					reference.</span>")
				}
			
		}
		document.getElementById('sim_ids').value = strSimIds;
	}
	

  function replaceAllSpaces(str)
	{
		while(str.search(" ") != -1)
		{
				str = str.replace(" ", "-");
		}
		return str;
	}
  
  function validateAtLeastOneSimChecked(){
		var nbChecked = jQuery("input:checked[id*=checkbox]").size(); //find all checked checkboxes + radio buttons  
		if(nbChecked > 0)
			return true;
		return false;
	}
	
	function resetPage(){
		hide_box('report-generator'); 
		jQuery('#simulation_batch_action').val('');
	}


	var ol = new Overlay();

</script>
