<p><%= label :event_set, :event %></p>
<table class="form_table list"> 
	<thead>
	  <tr>
			<th title="Select Event"><%= l(:label_attach) %></th>
			<%= sort_header_tag('Event', :caption => l(:field_event),:default_order => 'desc') %>
	    <th title="Description"><%= l(:label_description) %></th>
	    <th title="Time"><%= l(:label_time) %></th>
	  </tr>
	</thead>
	<tbody id="events_table_body">
		<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
			<% @items.each_with_index do |item,i| %>
		  	<tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
					<td  ><%= check_box_tag "event_set[event_ids][]", item.id,@eset.events.include?(item) %></td>
					<td  ><%=h item.name %></td>
		 			<td  ><%=h item.description %></td>
		 			<td  ><%=h item.time %></td>
		  	</tr>
			<% end %>
		<% end %>
  
   </tbody>
</table>
<p class="pagination"><%= pagination_links_full @items_pages, @item_count %></p>