<p><label><%= l(:label_event) %>s	</label></p>
<table class="relteq_sub_table list"> 
	<thead>
	  <tr>
		  <th class='checkbox index-menu-multiple actions'>
				<%= link_to_function image_tag('toggle_check.png'), {}, :onclick => 'toggleIssuesSelection(Element.up(this, 	
							"form")); return false;', :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
       </th>
			<% if(@items != nil && @items.size() != 0) %>
				<%= sort_header_tag_relteq('event_type', {:url =>populate_table_project_configuration_event_sets_path(@project, :event_set_id=>@eset, :network_id=>@nid || @eset.network_id) ,:caption => l(:field_event),:default_order => 'desc'}) %>
				<%= hidden_field_tag :order_sort, @order_sort%>
			<% else%>
				<th title=<%= l(:field_event) %>><%= l(:field_event) %></th>
			<% end %>
	    <th title=<%= l(:label_description) %>><%= l(:label_description) %></th>
	    <th title=<%= l(:label_time) %>><%= l(:label_time) %></th>
			<th title=<%= l(:label_actions) %> class="actions">&nbsp;</th>
	  </tr>
	</thead>
	<tbody id="events_table_body">
		<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
			<% @items.each_with_index do |item,i| %>
				<% fields_for "event_set[events][]", item do |item_form|%>
				<tr id=<%= item.id.to_s + '-row'%>  class="user active <%= i%2==0 ? 'odd' : 'even' %>">
	 				<td class="actions"><%= check_box_tag "event_set[event_ids][]", item.id, @eset.nil? ? false : @eset.events.include?(item)  %></td>
					<td><%=h item.event_type %></td>
					<td><%=h item.description %></td>
					<td><%=h item.display_time_from_string(item.time) %></td>
					<td class="actions"><%= link_to_remote '',:url => delete_item_project_configuration_event_sets_path(@project, :event_set_id => @eset, :event_id=>item.id,:network_id=>@nid || @eset.network_id,:order_sort =>  @order_sort,:page => params[:page]), :confirm => l(:label_delete_item), :complete=>"onItemDeleteComplete(request);",:success=> "jQuery('#" + item.id.to_s + "-row').remove();", :html => {:class => 'icon icon-del'} %></td>
				</tr>
				<% end %>
			<% end %>
  	<% end %>
	
   </tbody>
</table>
<p class="pagination">
<% if (@items != nil  && @items.count != 0) %>
  <%= relteq_pagination_links_full @items_pages, @item_count %>
<% end %>
</p>