<p><%= label :event_set, :event %></p>
<table class="form_table list"> 
	<thead>
	  <tr>
			<% if(@items != nil) %>
				<%= sort_header_tag_relteq('name', {:url =>{ :controller => 'event_sets',  :action => 'populate_events_table', :project_id =>@project,:event_set_id =>@eset },:caption => l(:field_event),:default_order => 'desc'}) %>
			<% else%>
				<th title="Event"><%= l(:field_event) %></th>
			<% end %>
	    <th title="Description"><%= l(:label_description) %></th>
	    <th title="Time"><%= l(:label_time) %></th>
	  </tr>
	</thead>
	<tbody id="events_table_body">
		<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
			<% @items.each_with_index do |item,i| %>
		  	<tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
					<td  ><%= check_box_tag "event_set[event_ids][]", item.id,@eset.events.include?(item) %>&nbsp;&nbsp;<%=h item.type %></td>
		 			<td  ><%=h item.event_type %></td>
		 			<td  ><%=h item.updated_at %></td>
		  	</tr>
			<% end %>
		<% end %>
  
   </tbody>
</table>
<p class="pagination">
<% if (@items != nil) %>
  <%= pagination_links_full @items_pages, @item_count %>
<% end %>
</p>