<p><label><%= l(:label_event) %>s	</label></p>
<table class="form_table list"> 
	<thead>
	  <tr>
			<% if(@items != nil && @items.size() != 0) %>
				<%= sort_header_tag_relteq('event_type', {:url =>{ :controller => 'events_sets',  :action => 'populate_events_table', :project_id =>@project,:event_set_id =>@eset } ,:caption => l(:field_event),:default_order => 'desc'}) %>
			<% else%>
				<th title=<%= l(:field_event) %><%= l(:field_event) %></th>
			<% end %>
	    <th title=<%= l(:label_description) %>><%= l(:label_description) %></th>
	    <th title=<%= l(:label_time) %>><%= l(:label_time) %></th>
			<th title=<%= l(:label_actions) %>>&nbsp;</th>
	  </tr>
	</thead>
	<tbody id="events_table_body">
		<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
			<% @items.each_with_index do |item,i| %>
				<%= render :partial => 'items', :locals => { :item => item, :i => i }  %>
			<% end %>
		<% end %>
  
   </tbody>
</table>
<p class="pagination">
<% if (@items != nil) %>
  <%= pagination_links_full @items_pages, @item_count %>
<% end %>
</p>