<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<%= stylesheet_link_tag 'color-picker-plugin'%>

<p>
	<label><%=l(:label_congestion_speed)%>: </label>
	<%= f.text_field :congestion_speed %>
</p>
<p>
	<label><%=l(:label_max_data)%>: </label>
	<%= f.text_field :max_data_points %>
</p>
<p>
	<label><%=l(:label_color)%>: </label>
	<% @simulation_report.color_palettes.each_with_index do  |color_palette, index|   %>	
		<span id = "color<%= index %>" class = 'color-border' style="background-color:<%= color_palette.color %>" onclick="pickColor('color<%= index %>',<%= index %>);">&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<% fields_for 'simulation_batch_report[color_palettes_attributes][]', color_palette do |c_form|%>
			<%=  c_form.hidden_field :color, :id => 'hidden_color_'+ index.to_s %>
		<% end %>
	<% end %>
</p>

<p>
	<label><%=l(:label_fill_plots)%>: </label>
	<%= f.check_box :fill_plots %>
</p>
<p>
	<label><%=l(:label_legend)%>: </label>
	<%= f.check_box :legend %>
</p>

<%= javascript_include_tag "color-picker" %>
<script>
function pickColor(id,index) {
	var swatch = document.getElementById(id);
	var mainDiv = document.getElementById('report-generator');

	CFInstall.check({ mode: "overlay" });
	var picker = new Color.Picker(mainDiv,{
		callback: function(hex) {
			swatch.style.backgroundColor = "#" + hex;
			jQuery('#hidden_color_' + index).val("#" + hex);
		}
	});

	picker.el.style.top = (swatch.offsetTop + 20) + "px";
	picker.el.style.left = (swatch.offsetLeft) + "px";
}
</script>


