<% fields_for 'simulation_batch_report[scatter_plot_attributes]',  @simulation_report.scatter_plot do |s|%>
<div id="x-y-config">
	<div class='left'>
		<label class="underline"><%=l(:label_x_axis)%></label><br/>
		<label><%=l(:label_subnetwork)%>: </label>
		<%= s.select :x_axis_type, options_for_select(simulation_report_axis_network_select_options())%><br/>
	
		<label><%=l(:label_quantity)%>: </label>
		<%= s.select :x_axis_scope, options_for_select(simulation_report_axis_quantity_select_options()) %><br/>
		<label><%=l(:label_box_plot)%>:&nbsp;&nbsp;</label>
		<%= s.check_box :box_plot %>
	</div>
	
	<div class='right'>
		<label class="underline"><%=l(:label_y_axis)%></label><br/>
		<label><%=l(:label_subnetwork)%>: </label>
		<%= s.select  :y_axis_type, options_for_select(simulation_report_axis_network_select_options())%><br/>
		<label><%=l(:label_quantity)%>: </label>
		<%= s.select  :y_axis_scope, options_for_select(simulation_report_axis_quantity_select_options())%>
	</div>
</div>
<% end %>

