<% content_for :config_sidebar do %>
  <%= render :partial => 'configurations/config_sidebar', :locals => {:highlighted_item => @network} %>
<% end %>

<h2>Copy Network: <%= @network.name %></h2>

<% form_tag(:controller => 'networks', :project_id => @project, :network_id => @network.id, :action => :copy_to) do %>
  <p>
    <%= label_tag :to_project %>
    <%= select_tag :to_project, options_for_select(@projects_select) %>

    <%= submit_tag 'Copy', :id => 'copy_network_submit' %>
  </p>
<% end %>

<%= render :partial => 'common/no_project_selected' %>

<script language="javascript">
var $j = jQuery;
$j(function() {
  $j('#copy_network_submit').click(function(the_event) {
    if($j('#to_project option:selected').length == 0) {
        $('no-project-selected').show();
        ol.show($('no-project-selected'), {
                          position: 'center', 
                          modal: true,
                          bckg_opacity: 0.9,
                          afterhide: function() { 
                            $('no-project-selected').hide(); 
                          }});
        the_event.preventDefault();
        return; 
    }
    var redirect_url =
      '<%= edit_project_configuration_network_path('**P_ID**', '**ID**') %>';
    $('ajax-indicator').show();
    $j.getJSON("<%= @dbweb_db_url %>&jsoncallback=?",
               {deep: true,
                to_project: $j('#to_project option:selected').val() },
               function(data) {
                  if(data.success) {
                    var edit_url = redirect_url.replace('**ID**',data.success)
                                               .replace('**P_ID**', 
                                                        $j('#to_project option:selected').
                                                        val());
                    window.location = edit_url;
                  }
                  $('ajax-indicator').hide();
               });
    the_event.preventDefault();
  });
});
</script>
