<% content_for :config_sidebar do %>
  <%= render :partial => 'configurations/config_sidebar', :locals => {:highlighted_item => @network} %>
<% end %>

<h2>Copy Network: <%= @network.name %></h2>

<% form_tag(:controller => 'networks', :project_id => @project, :network_id => @network.id, :action => :copy_to) do %>
  <p>
    <%= label_tag :to_project %>
    <%= select_tag :to_project, options_for_select(@projects) %>

    <%= submit_tag 'Copy' %>
  </p>
<% end %>
