<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Relteq</title>
	<%= stylesheet_link_tag 'style' %>

	<script type="text/javascript" src="/javascripts/jquery.js"></script> 
	<script type="text/javascript"> 
	<!--//--><![CDATA[//><!--
		$(document).ready(function() {
			$("#root ul").each(function() {$(this).css("display", "none");});
			$("#root .category").click(function() {
				var childid = "#" + $(this).attr("childid");
				if ($(childid).css("display") == "none") {$(childid).css("display", "block");}
				else {$(childid).css("display", "none");}
				if ($(this).hasClass("cat_close")) {$(this).removeClass("cat_close").addClass("cat_open");}
				else{$(this).removeClass("cat_open").addClass("cat_close");}
			});
		});
	//--><!]]>
	</script> 	
  </head>
  <body>
    <div id="page">
	  <div id="header">
		<span class="text"><%= @project %> > Configurations</span>
	  </div>
      <div id="sidebar">
		<ul id="root" class="menu">
			<li>
				<a href='javascript:void(0);' childid = 'c_12' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Scenarios</a>
				<ul id='c_12'>
  				  <% @scenarios.each do |s|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				        <a href='javascript:void(0);'><%= s.name %></a> 
				      </li> 
				  <% end %>
				</ul>
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_13' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Networks</a>
				<ul id='c_13'>
					<% @networks.each do |n|  %>
					 	  <li> 
				            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
					        <a href='javascript:void(0);'><%= n.description %></a> 
					      </li>
					<% end %>
				</ul> 
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_14' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Controller Groups</a>
				<ul id='c_14'>
 				  <% @cgroups.each do |c|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				        <a href='javascript:void(0);'><%= c.description %></a> 
				      </li>
 				  <% end %>
			    </ul> 
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_15' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Demand Profiles</a>
				<ul id='c_15'>
				  <% @dprofiles.each do |d|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				        <a href='javascript:void(0);'><%= d.profile %></a> 
				      </li>
				  <% end %>
				</ul> 
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_16' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Capacity Profiles</a>
				<ul id='c_16'>
				  <% @cprofiles.each do |c|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				        <a href='javascript:void(0);'><%= c.profile %></a> 
				      </li>
				  <% end %>
				</ul> 
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_17' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Event Lists</a>
				<ul id='c_17'>
 				  <% @events.each do |e|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				        <a href='javascript:void(0);'><%= e.event_type %></a> 
				      </li>
				  <% end %>
			  </ul> 
			</li>
		</ul>
      </div>
      <div id="content">
	  </div>
    </div>	
  </body>
</html>

