<% content_for :config_sidebar do %>
  <%= render :partial => 'configurations/config_sidebar' %>
<% end %>

<h2><%= link_to "Split Ratio Profile Sets", :controller => 'capacity_profile_sets', :action => 'index' %> &#187; <%= "Edit Split Ratio Profile Set"%></h2>

<% labelled_tabular_form_for :split_ratio_profile_set, @srpset, :url => {:action => "update" }, :html => { :method => :put } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p>
		<%= submit_tag l(:button_update) %>
	</p>
<% end %>

<%= render :partial => 'layouts/scenario_list' %>