<% content_for :config_sidebar do %>
  <%= render :partial => 'configurations/config_sidebar' %>
<% end %>

<h2><%= link_to l(:field_split_ratio_profile_set) + "s", project_configuration_split_ratio_profile_sets_path(@project),:class => 'config-header'  %> &#187; <%= l(:split_ratio_profiles_new) %></h2>


<% labelled_tabular_form_for :split_ratio_profile_set, @srpset, :url => { :action => "create" } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p>
		<%= submit_tag l(:button_create) %>
	</p>
<% end %>
