<p><label><%= l(:label_capacity_profile) %>s</label></p>
<table class="relteq_sub_table list"> 
	<thead>
	  <tr>
			<% if(@items != nil && @items.size() != 0) %>
				<%= sort_header_tag_relteq('link.name', {:url =>populate_table_project_configuration_capacity_profile_sets_path(@project, :capacity_profile_set_id=>@cpset, :network_id=>@nid || @cpset.network_id) ,:caption => l(:field_destination),:default_order => 'desc'}) %>
			<% else%>
				<th title=<%= l(:field_destination) %>><%= l(:field_destination) %></th>
			<% end %>
	    <th title=<%= l(:label_profile) %>><%= l(:label_profile) %></th>
			<th title=<%= l(:label_time_period) %>><%= l(:label_time_period) %></th>
			<th title=<%= l(:label_actions) %> class="actions">&nbsp;</th>
	  </tr>
	</thead>
	<tbody id="profiles_table_body">
		<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
			<% @items.each_with_index do |item,i| %>
				<% fields_for "demand_profile_set[demand_profiles][]", item do |item_form|%>
	  		<tr id=<%= item.id.to_s + '-row'%>  class="user active <%= i%2==0 ? 'odd' : 'even' %>">
	 				<td>
						<%= item_form.hidden_field :id, :index => nil %>
						<%= h item.link.name %>	
					</td>
					<td><%= item_form.text_area :profile,:size=> "38x5", :index => nil %></td>
		 			<td><%= item_form.text_field :dt, :size => 8, :index => nil %></td>	
					<td class="actions"><%= link_to_remote '',:url => delete_item_project_configuration_capacity_profile_sets_path(@project, :capacity_profile_id=>item.id,:network_id=>@nid || @cpset.network_id), :confirm => l(:label_delete_item), :complete=>"onItemDeleteComplete(request);",:success=> "jQuery('#" + item.id.to_s + "-row').remove();", :html => {:class => 'icon icon-del'} %></td>
	  	</tr>
		  <% end %>
		 <% end %>
	  <% end %>
  
   </tbody>
</table>
<p class="pagination">
	<% if(@items != nil  && @items.count != 0 ) %>
    <%= relteq_pagination_links_full @items_pages, @item_count %>
	<% end %>
</p>