<p><%= label :capacity_profile_set, :capacity_profile %></p>
<table class="form_table list"> 
	<thead>
	  <tr>
			<% if(@items != nil) %>
				<%= sort_header_tag('Destination', :caption => l(:field_destination),:default_order => 'desc') %>
			<% else%>
				<th title="Destination"><%= l(:field_destination) %></th>
			<% end %>
	    <th title="Profile"><%= l(:label_profile) %></th>
	    <th title="Max. Uncertainty"><%= l(:label_max_uncertainty) %></th>
	  </tr>
	</thead>
	<tbody id="profiles_table_body">
		<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
			<% @items.each_with_index do |item,i| %>
		  	<tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
					<td  ><%= check_box_tag "capacity_profile_set[capacity_profile_ids][]", item.id,@cpset.capacity_profiles.include?(item) %>&nbsp;&nbsp;<%=h item.name %></td>
		 			<td  ><%= text_field_tag item.id,item.profile %></td>
		 			<td  ><%=h number_to_percentage(item.max_uncertainty) %></td>
		  	</tr>
			<% end %>
		<% end %>
  
   </tbody>
</table>
<p class="pagination">
	<% if(@items != nil) %>
    <%= pagination_links_full @items_pages, @item_count %>
	<% end %>
</p>