<p><label><%= l(:label_demand_profile) %>s</label></p>
<table class="form_table list"> 
	<thead>
	  <tr>
			<% if(@items != nil && @items.size() != 0) %>
				<%= sort_header_tag_relteq('link.type_link', {:url => { :controller => 'demand_profile_sets',  :action => 'populate_table', :project_id =>@project,:demand_profile_set_id =>@dpset,:network_id=> @nid },:caption => l(:field_origin),:default_order => 'desc'}) %>
			<% else%>
				<th title=<%= l(:field_origin) %>><%= l(:field_origin) %></th>
			<% end %>
	    <th title=<%= l(:label_profile) %>><%= l(:label_profile) %></th>
	    <th title=<%= l(:label_demand_coefficient) %>><%= l(:label_demand_coefficient) %></th>
			<th title=<%= l(:label_time_period) %>><%= l(:label_time_period) %></th>
			<th title=<%= l(:label_actions) %>>&nbsp;</th>
	  </tr>
	</thead>
	<tbody id="profiles_table_body">
		<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
			<% @items.each_with_index do |item,i| %>
		  	<tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
		 			<td><%= h item.link.name %></td>
					<td><%= text_area_tag item.id,item.profile,:size=> "40x5" %></td>
		 			<td><%= text_field_tag item.id,item.knob  %></td>
		 			<td><%= item.dt %></td>	
					<td><%= link_to '','' , :class => 'icon icon-del' %></td>		
		  	</tr>
			<% end %>
		<% end %>
  
   </tbody>
</table>
<p class="pagination">
<% if(@items != nil) %>
  <%= pagination_links_full @items_pages, @item_count %>
<% end %>
</p>