<p><%= label :demand_profile_set, :demand_profile %></p>
<table class="form_table list"> 
	<thead>
	  <tr>
			<% if(@items != nil) %>
			<th title="">&nbsp;</th>
			<%= sort_header_tag_relteq('name', {:url =>{ :controller => 'demand_profile_sets',  :action => 'populate_demands_table', :project_id =>@project,:demand_profile_set_id =>@dpset },:caption => l(:field_origin),:default_order => 'desc'}) %>
				<% else%>
				<th title="Origin"><%= l(:field_origin) %></th>
			<% end %>
	    <th title="Profile"><%= l(:label_profile) %></th>
	    <th title="Max. Uncertainty"><%= l(:label_max_uncertainty) %></th>
	  </tr>
	</thead>
	<tbody id="profiles_table_body">
		<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
			<% @items.each_with_index do |item,i| %>
		  	<tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
					<td  ><%= check_box_tag "demand_profile_set[demand_profile_ids][]", item.id,@dpset.demand_profiles.include?(item) || false %></td>
		 			<td  ><%= h item.link.type_link %></td>
					<td  ><%= text_field_tag item.id,item.profile %></td>
		 			<td  ><%=h number_to_percentage(item.max_uncertainty) %></td>
		  	</tr>
			<% end %>
		<% end %>
  
   </tbody>
</table>
<p class="pagination">
<% if(@items != nil) %>
  <%= pagination_links_full @items_pages, @item_count %>
<% end %>
</p>