<% form_tag(:controller => 'scenario/simulations',:scenario_id => scenario.id, :project_id => @project, :action => 'create') do %>
	<p>
      <%= label_tag :name %>
      <%= text_field_tag :name, default_name, :id => "name_#{scenario.id}" %>
    </p>
    <p>
      <%= label_tag :n_runs, 'Number of Runs' %>
      <%= text_field_tag :n_runs, '1', :id => "n_runs_#{scenario.id}" %>
    </p>
    <p>
      <%= label_tag :mode %>
      <%= select_tag :mode, options_for_select(Simulation.modes), :id => "mode_#{scenario.id}" %>
    </p>
    <p>
      <%= label_tag :begin_time %>
      <%= time_input_field :begin_time, nil, :id => "begin_time_#{scenario.id}", :class => 'time_mask' %>
    </p>
    <p>
      <%= label_tag :duration %>
	    <%= time_input_field :duration, nil, :id => "duration_#{scenario.id}", :class => 'time_mask' %>
    </p>
    <p>
      <%= label_tag :control %>
      <%= check_box_tag :control, true, true, :id => "control_#{scenario.id}" %>
    </p>
    <p>
      <%= label_tag :qcontrol, 'Queue Control' %>
      <%= check_box_tag :qcontrol, true, true, :id => "qcontrol_#{scenario.id}" %>
    </p>
    <p>
      <%= label_tag :events %>
      <%= check_box_tag :events, true, true, :id => "events_#{scenario.id}" %>
    </p>

	<p><%= submit_tag 'Run' %></p>
<% end %>
