<div id = "reports_table" class="autoscroll">
<table class="index list"> 
	<thead>
	  <tr>
			<%= sort_header_tag('name', :caption => l(:field_name),:default_order => 'desc') %>
			<%= sort_header_tag('created_at', :caption => l(:field_created_on),:default_order => 'desc') %>
			<%= sort_header_tag('user_id_creator', :caption => l(:field_created_by),:default_order => 'desc') %>
			<th title=<%= l(:label_actions) %>><%= l(:label_actions) %></th>
	  </tr>
	</thead>
	<tbody>
 <% if @item_count == 0 %>
	<tr>
	<td colspan='4' >No records to display</td>
	</tr>
<% else %>
	<% @items_show.each_with_index do |sim,i| %>
	  <tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
		<td  ><%= link_to_function sim.name, "show_box('simulation-info-#{sim.id}');" %></td>
	 	<td  ><%=h format_date_time(sim.created_at) %></td>
<<<<<<< HEAD
	 	<td  ><%= link_to sim.creator, sim.creator %></td>
=======
	 	<td  ><%= link_to(sim.creator.name, user_path(sim.creator)) if !(sim.creator.nil?) %></td>
>>>>>>> 08ef85b... Css Changes to layout and links
	 	<td  >
			<%= link_to '',delete_report_project_simulation_batch_report_path(@project,sim.id), :confirm=>  l(:label_delete_item), :class => 'icon icon-del' %> | 
			<%= link_to_function '', "show_box('rename-#{sim.id}');", :class => 'icon icon-edit' %> | 
			<%= link_to '',sim.export_xls_url, {:target => '_blank', :class => 'icon icon-file application-xls' }%> | 
			<%= link_to '',sim.export_pdf_url, {:target => '_blank' , :class => 'icon icon-file application-pdf' }%> | 
			<%= link_to '',sim.export_xml_url , {:target => '_blank',:class => 'icon icon-file text-xml' }%> | 
			<%= link_to '',sim.export_ppt_url,{:target => '_blank' , :class => 'icon icon-file application-ppt'} %>  
		</td>
	  </tr>
		<div class="simulation-info" id="simulation-info-<%= sim.id %>" style="display: none;">
	  <button class="simulation-overlay-cancel config" id="<%= sim.id %>-overlay-cancel" onClick="hide_box('simulation-info-<%= sim.id %>')"></button>
	    <h2>Report Detail</h2>
	    <%= render :partial => 'show', 
	               :locals => {:item_show => sim} %>
	  </div>
		<div class="simulation-info" id="rename-<%= sim.id %>" style="display: none;">
			<button class="simulation-overlay-cancel config" id="<%= sim.id %>-overlay-cancel" onClick="hide_box('rename-<%= sim.id %>')"></button>
			  <h2>Rename: <%= sim.name %></h2>
		  	<%= render :partial => 'rename', 
		             	 :locals => {:item_show => sim} %>
		</div>
	<% end %>
<% end %>
   </tbody>

</table>
</div>
<% if @item_count != 0 %>
	<p class="pagination"><%= pagination_links_full @item_pages, @item_count %></p>
<% end %>

<script language="javascript">
  var ol = new Overlay();
</script>
