

<p>
	<label><%=l(:label_congestion_speed)%>: </label>
	<%= f.text_field :congestion_speed %>
</p>
<p>
	<label><%=l(:label_max_data)%>: </label>
	<%= f.text_field :max_data_points %>
</p>
<p>
	<label><%=l(:label_color)%>: </label></p>
	<input type='text' name='color' id='picker'/><a id='trigger' >Pick a color</a>
	
<p>
	<label><%=l(:label_fill_plots)%>: </label>
	<%= f.check_box :fill_plots %>
</p>
<p>
	<label><%=l(:label_legend)%>: </label>
	<%= f.check_box :legend %>
</p>

<script language="javascript">
	var picker = new ColourPicker('picker', 'trigger');
</script>

