<p>
		<%= label_tag :name %>:
		<%=h item_show.name %>
</p>
<p>
		<%= label_tag :b_time, 'Begin Time' %>:
	  <%=h item_show.b_time %>
</p>
<p>
		<%= label_tag :duration %>:
	  <%=h item_show.duration %>
</p>
<p>
		<%= label_tag :network_perf %>:
	  <%=h item_show.network_perf %>
</p>
<p>
		<%= label_tag :link_perf %>:
	  <%=h item_show.link_perf %>
</p>
<p>
		<%= label_tag :or_perf_t %>:
	  <%=h item_show.or_perf_t %>
</p>
<p>
		<%= label_tag :or_perf_s %>:
	  <%=h item_show.or_perf_s %>
</p>
<p>
		<%= label_tag :or_perf_c %>:
	  <%=h item_show.or_perf_c %>
</p>
<p>
		<%= label_tag :route_perf_t %>:
	  <%=h item_show.route_perf_t %>
</p>
<p>
		<%= label_tag :route_perf_s %>:
	  <%=h item_show.route_perf_s %>
</p>
<p>
		<%= label_tag :route_perf_c %>:
	  <%=h item_show.route_perf_c %>
</p>
<p>
		<%= label_tag :route_tt_t %>:
	  <%=h item_show.route_tt_c %>
</p>
<p>
		<%= label_tag :congestion_speed %>:
	  <%=h item_show.congestion_speed %>
</p>
<p>
		<%= label_tag :max_data_points %>:
	  <%=h item_show.max_data_points %>
</p>
<p>
		<%= label_tag :fill_plots %>:
	  <%=h item_show.fill_plots %>
</p>
<p>
		<%= label_tag :legend %>:
	  <%=h item_show.legend %>
</p>
<p>
		<%= label_tag :creation_time %>:
	  <%=h item_show.creation_time %>
</p>
<p>
		<%= label_tag :execution_time %>:
	  <%=h item_show.execution_time %>
</p>
<p>
		<%= label_tag :percent_complete %>:
	  <%=h item_show.percent_complete %>
</p>
<p>
		<%= label_tag :cpu_instance %>:
	  <%=h item_show.cpu_instance %>
</p>


