<p>
		<%= label_tag :name %>:
		<%=h item_show.name %>
</p>
<p>
		<%= label_tag :b_time, 'Begin Time' %>:
	  <%=h item_show.display_time(:b_time) %>
</p>
<p>
		<%= label_tag :duration %>:
	  <%=h item_show.display_time(:duration)  %>
</p>
<p>
		<label><%=l(:label_network_perf)%></label>:
	  <%=h item_show.network_perf %>
</p>
<p>
		<label><%=l(:label_link_perf)%></label>:
	  <%=h item_show.link_perf %>
</p>
<p>
		<label><%=l(:label_or_perf_t)%></label>:
	  <%=h item_show.or_perf_t %>
</p>
<p>
		<label><%=l(:label_or_perf_s)%></label>:
	  <%=h item_show.or_perf_s %>
</p>
<p>
		<label><%=l(:label_or_perf_s)%></label>:
	  <%=h item_show.or_perf_c %>
</p>
<p>
		<label><%=l(:label_route_perf_t)%></label>:
	  <%=h item_show.route_perf_t %>
</p>
<p>
		<label><%=l(:label_route_perf_s)%></label>:
		<%=h item_show.route_perf_s %>
</p>
<p>
		<label><%=l(:label_route_perf_c)%></label>:
	  <%=h item_show.route_perf_c %>
</p>
<p>
		<label><%=l(:label_route_tt_t)%></label>:
	  <%=h item_show.route_tt_t %>
</p>
<p>
		<label><%=l(:label_route_tt_c)%></label>:
	  <%=h item_show.route_tt_c %>
</p>
<p>
		<%= label_tag :congestion_speed %>:
	  <%=h item_show.congestion_speed %>
</p>
<p>
		<%= label_tag :max_data_points %>:
	  <%=h item_show.max_data_points %>
</p>
<p>
		<%= label_tag :fill_plots %>:
	  <%=h item_show.fill_plots %>
</p>
<p>
		<%= label_tag :legend %>:
	  <%=h item_show.legend %>
</p>
<p>
		<%= label_tag :creation_time %>:
	  <%=h item_show.format_creation_time %>
</p>



