<script>
	document.observe('dom:loaded',function(){
		var tabs = new Control.Tabs('tabs',{});
	});
</script>
<% form_for :simulation_batch, @simulation_report, :url => { :action => "update" }, :html => {:method => :put} do |f| %>
<h2><%= "Simulation Batch Report Generator" %></h2>
<div id="report-main" >
	<div class="content">
	  <ul id="tabs" class="subsection_tabs">  
	    <li class="tab"><a href="#basics">Basics</a></li>  
	    <li class="tab"><a href="#sections">Sections</a></li>  
	    <li class="tab"><a href="#options">Options</a></li>  
	    <li class="tab"><a href="#scatter-groups">Scatter Groups</a></li>  
	    <li class="tab"><a href="#scatter-plots">Scatter Plots</a></li>  
	  </ul>  
	  <div id="basics" class="tab-content">
		 <%= render :partial => 'simulation_batch_report/basics', 
	              :locals => {:f => f} %>	
	  </div>  
	  <div id="sections" class="tab-content">
		 <%= render :partial => 'simulation_batch_report/sections', 
	              :locals => {:f => f} %>
	  </div>  
	  <div id="options" class="tab-content">
		 <%= render :partial => 'simulation_batch_report/options', 
	              :locals => {:f => f} %>
	  </div>  
	  <div id="scatter-groups" class="tab-content">
		 <%= render :partial => 'simulation_batch_report/scatter_groups', 
	              :locals => {:f => f} %>
	  </div>  
	  <div id="scatter-plots" class="tab-content">
		 <%= render :partial => 'simulation_batch_report/scatter_plots', 
	              :locals => {:f => f} %>
	  </div>  
  </div>
	<div id="button-bar">
		<div class="buttons">
		  <span><%= submit_tag "Save" %></span>
		  <span><%= submit_tag "Load" %></span>
		  <span><%= submit_tag "Start" %></span>
		</div>
	</div>
</div>
<% end %>

