<% content_for :config_sidebar do %>
  <%= render :partial => 'configurations/config_sidebar', :locals => {:highlighted_item => @scenario} %>
<% end %>

<%= error_messages_for 'scenario'%>

<h2><%= link_to "Scenarios", :controller => 'scenarios', :action => 'index' %> &#187; <%= "Edit Scenario"%></h2>

<% labelled_tabular_form_for :scenario, @scenario, :url => { :action => "update" }, :html => { :method => :put } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p>
		<%= submit_tag l(:button_update) %>
	</p>
<% end %>
