<% content_for :config_sidebar do %>
  <%= render :partial => 'configurations/config_sidebar' %>
<% end %>
<%= error_messages_for 'scenario' %>

<div>	
	<span>	<%= link_to_function( l(:label_new) + " " + l(:label_scenario), visual_effect(:toggle_slide, :newscenario), :class => "icon icon-add" )%></span> |
	<span><%= link_to("Delete All", {:controller => 'scenarios', :action => 'delete_all', :project_id => @project},:confirm => l(:label_delete_all)) %></span> |
	<span><%= link_to "Import Scenario",import_project_configuration_scenarios_path(@project) %></span> |
	<span><a href="">Share All Scenarios</a></span> 
</div>
<div id="newscenario" style=<%= (flash[:error] == nil) ? "display:none" : "display:block" %>>
	<div class="newscenario">
	<% form_tag({:controller => 'scenarios', :action => 'create', :project_id => @project},:method => :put) do %>
	<label><%= l(:label_name) %>:</label>
	<%= text_field_tag 'scenario[name]', params[:name], :size => 30 %>
	<%= submit_tag l(:button_create_and_configure) , :class => "small", :name => nil %>
	<% end %>
	</div>
</div>

<br/>
<div class="autoscroll">
<table class="index list"> 
	<thead>
	  <tr>
		<%= sort_header_tag('name', :caption => l(:field_name),:default_order => 'desc') %>
		<%= sort_header_tag('updated_at', :caption => "Last Modified",:default_order => 'desc') %>
	    <th title="Sort by 'Modified By'">Modified By</th>
			<th title="Actions">&nbsp;</th>
	
	  </tr>
	</thead>
	<tbody>
 <% if @item_count == 0 %>
	<tr>
	<td colspan='4' >No records to display</td>
	</tr>
<% end %>
<% @items_show.each_with_index do |scenario,i| %>
  <tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
	<td  ><%= link_to scenario.name, edit_project_configuration_scenario_path(@project, scenario) %></td>
 	<td  ><%=h format_date_time(scenario.updated_at) %></td>
 	<td  >Not Implemented</td>
	<td  class="index-menu-td"> <span class="index-menu" id="config-index-scenario-<%= scenario.id %>"></span></td>

  </tr>
<% end %>
   </tbody>

</table>
</div>
<p class="pagination"><%= pagination_links_full @item_pages, @item_count %></p>

<br />
<script language="javascript">
	leaf_menus = <%= all_leaf_menu_items(@project,'index' ,{:scenarios => @items_show}) %>;
	hook_leaf_menus(leaf_menus);	
</script>

