<% content_for :config_sidebar do %>
  <%= render :partial => 'configurations/config_sidebar' %>
<% end %>

<%= error_messages_for 'scenario'%>


<h2><%= link_to "Scenarios", project_configuration_scenarios_path(@project), :class => 'config-header' %> &#187; New Scenario </h2>

<% labelled_tabular_form_for :scenario, @scenario, :url => { :action => "create" } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p>
		<%= submit_tag l(:button_create) %>
	</p>
<% end %>




