<p><label><%= l(:label_controllers) %></label></p>

<table id="" class="relteq_sub_table list"> 
	<thead>
	  <tr>
			<% if(@items != nil && @items.size() != 0) %>
				<%= sort_header_tag_relteq('controller_type', {:url => populate_table_project_configuration_controller_sets_path(@project, :controller_set_id=>@cset, :network_id=>@nid || @cset.network_id),:caption => l(:field_type),:default_order => 'desc'}) %>
		  	<%= hidden_field_tag :order_sort, @order_sort%>
			<% else %>
				<th title=<%= l(:field_type) %>><%= l(:field_type) %></th>
			<% end %>
			
	    <th title=<%= l(:label_network_element) %>><%= l(:label_network_element) %></th>
	    <th title=<%= l(:label_invocation_period) %>><%= l(:label_invocation_period) %></th>
			<th title=<%= l(:label_actions) %> class="actions">&nbsp;</th>
	  </tr>
	</thead>
	<tbody id="controllers_table_body">
			<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
			<% @items.each_with_index do |item,i| %>
		  	<% fields_for "controller_set[controllers][]", item do |item_form|%>
		  	<tr id=<%= item.id.to_s + '-row'%>  class="user active <%= i%2==0 ? 'odd' : 'even' %>">
		 			<td>
						<%= item_form.hidden_field :id, :index => nil %>
						<%= h item.controller_type %>	
					</td>
					<td><%=h item.controller_name %></td>
		 			<td><%=h item.display_time_from_string(item.dt) %></td>	
					<td class="actions" ><%= link_to_remote '',:url => delete_item_project_configuration_controller_sets_path(@project, :controller_id=>item.id,:network_id=>@nid || @cset.network_id,:order_sort =>  @order_sort), :confirm => l(:label_delete_item), :complete=>"onItemDeleteComplete(request);",:success=> "jQuery('#" + item.id.to_s + "-row').remove();", :html => {:class => 'icon icon-del'} %></td>
				
		  	</tr>
			  <% end %>
			<% end %>
		<% end %>
  
   </tbody>
</table>
<p class="pagination">
	<% if(@items != nil && @items.count != 0) %>
    <%= relteq_pagination_links_full @items_pages, @item_count %>
	<% end %>
</p>