<p><%= label :controller_set, :controller %></p>
<table class="form_table list"> 
	<thead>
	  <tr>
			<% if(@items != nil) %>
			<%= sort_header_tag_relteq('type', {:url =>{ :controller => 'controller_sets',  :action => 'populate_controllers_table', :project_id =>@project,:controller_set_id => @cset },:caption => l(:field_type),:default_order => 'desc'}) %>
			<% else %>
				<th title="Name"><%= l(:field_name) %></th>
			<% end %>
			
	    <th title="Network Element"><%= l(:label_network_element) %></th>
	    <th title="Invocation Period"><%= l(:label_invocation_period) %></th>
	  </tr>
	</thead>
	<tbody id="controllers_table_body">
			<% if @items == nil ||  @items.count == 0 %>
		  <tr>
		    <td colspan='4' ><%= l(:label_no_records_index)%></td>
			</tr>
		<% else %>
		<% @items.each_with_index do |item,i| %>
		  	<tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
					<td  ><%= check_box_tag "controller_set[controller_ids][]", item.id, @cset.controllers.include?(item) || false %>&nbsp;&nbsp;<%=h item.type %></td>
		 			<td  ></td>
		 			<td  ><%= h item.dt_to_time_format %></td>
		  	</tr>
			<% end %>
		<% end %>
  
   </tbody>
</table>
<p class="pagination">
	<% if(@items != nil) %>
    <%= pagination_links_full @items_pages, @item_count %>
	<% end %>
</p>