<% form_for :measurement_data, :url => project_measurement_data_path(@project), :html => {:method => :post} do |f| %>
	<p>
		<label><%= l(:field_name) %>:<span class='required'>*</span></label>
		<%= f.text_field :name %>
		<%= f.hidden_field :url %>
	</p>
	<p>
		<label><%= l(:field_data_type) %>:<span class='required'>&nbsp;</span></label>
		<%= f.select :data_type, options_for_select(measurement_data_file_type_of_select_options()) %>
	</p>
	<p>
		<label><%= l(:field_data_format) %>:<span class='required'>*</span></label>
		<%= f.text_field :data_format, :value => l(:measurement_data_default_file_format) %>
	</p>
	<p>
		<label><%= l(:field_file_upload) %>:<span class='required'>*</span></label>
		<%= s3_swf_upload_tag :initial_message => 'Select a Measurement Data file to upload', 
	                      :width => 500, 
	                      :height => 40, 
												:success => redirect_to_dbweb_import_url(@project.id, @user.id)
	 %>
	</p>
	<p><%= f.submit 'Upload Data File' %> </p>
<% end %>
