<div>
	 <%= render :partial => 'menu', 
               :locals => {:project => :project_id} %>
</div>
<div class="autoscroll">
<table id="measurement-index-table" class="list"> 
	<thead>
	  <tr>    
			<%= sort_header_tag('name', :caption => l(:field_name),:default_order => 'desc') %>
			<th title=<%= l(:field_description) %>><%= l(:field_description) %></th>
			<th title=<%= l(:field_url) %>><%= l(:field_url) %></th>
			<%= sort_header_tag('data_type', :caption => l(:field_data_type),:default_order => 'desc') %>
			<%= sort_header_tag('data_format', :caption => l(:field_data_format),:default_order => 'desc') %>
			<%= sort_header_tag('created_at', :caption => l(:field_created_on),:default_order => 'desc') %>
			<%= sort_header_tag('user_id_creator', :caption => l(:field_created_by),:default_order => 'desc') %>
			<th title=<%= l(:label_actions) %> class="actions"><%= l(:label_actions) %></th>
	  </tr>
	</thead>
	<tbody>
 <% if @item_count == 0 %>
	<tr>
	<td colspan='6' >No records to display</td>
	</tr>
<% else %>
	<% @items_show.each_with_index do |mdat,i| %>
	  <tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
		<td  ><%=h mdat.name %></td>
		<td  ><%=h mdat.description %></td>
		<td  ><%= get_url_for_file(mdat) %></td>
		<td  ><%=h mdat.data_type %></td>
		<td  ><%=h mdat.data_format %></td>
	 	<td  ><%=h format_date_time(mdat.created_at) %></td>
	 	<td  ><%= link_to(mdat.creator.name, user_path(mdat.creator)) if !(mdat.creator.nil?) %></td>
	 	<td  class="actions">
			<%= link_to '',project_measurement_datum_path(@project,mdat.id),:method => :delete, :confirm=>  l(:label_delete_item), :class => 'icon icon-del' %> | 
			<%= link_to_function '', "show_box('rename-#{mdat.id}');", :class => 'icon icon-edit' %> 
		</td>
	  </tr>

	<% end %>
<% end %>

   </tbody>

</table>

<% @items_show.each_with_index do |mdat,i| %>
	<div class="simulation-info" id="rename-<%= mdat.id %>" style="display: none;">
		<button class="simulation-overlay-cancel config" id="<%= mdat.id %>-overlay-cancel" onClick="hide_box('rename-<%= mdat.id %>')"></button>
		  <h2>Rename: <%= mdat.name %></h2>
	  	<%= render :partial => 'rename', 
	             	 :locals => {:item_show => mdat} %>
	</div>
<% end %>

	<div id="import" style="display: none;" class="box tabular">
		<button class="simulation-overlay-cancel config" id="report-generator-overlay-cancel" onClick="resetPage()"></button>
		<h2>Upload Measurement Data</h2>  	
		<%= render :partial => 'import'%>
	</div>


</div>
<% if @item_count != 0 %>
	<p class="pagination"><%= pagination_links_full @item_pages, @item_count %></p>
<% end %>

<script language="javascript">
	
	function resetPage(){
		hide_box('import'); 
		jQuery('#measurement_data_action').val('');
	}

	var ol = new Overlay();

</script>
