<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Relteq</title>
	<%= stylesheet_link_tag 'style' %>
	<%= stylesheet_link_tag 'proto.menu' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "proto.menu" %>
	<%= javascript_include_tag 'menu-items' %>
 
</head>
<body>

    <div id="page">
	  <div id="header">
		<span class="text"><%= @project.name %> > Configurations</span>
	  </div>
      <div id="sidebar">
		<ul id="root" class="menu">
			<li >
				<a href='javascript:void(0);' childid = 'c_12' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<%= link_to "Scenarios", project_scenarios_path(@project), :id => "scmenu" %>
				<ul id='c_12'>
  				  <% @scenarios.each do |s|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
						<%= link_to s.name, edit_project_scenario_path(@project,s.id), :id => "scmenu-sub" %>       
			
				      </li> 
				  <% end %>
				</ul>
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_13' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Networks</a>
				<ul id='c_13'>
					<% @networks.each do |n|  %>
					 	  <li> 
				            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
					        <a href='javascript:void(0);'><%= n.description %></a> 
					      </li>
					<% end %>
				</ul> 
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_14' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Controller Groups</a>
				<ul id='c_14'>
 				  <% @cgroups.each do |c|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				        <a href='javascript:void(0);'><%= c.description %></a> 
				      </li>
 				  <% end %>
			    </ul> 
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_15' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Demand Profiles</a>
				<ul id='c_15'>
				  <% @dprofiles.each do |d|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				        <a href='javascript:void(0);'><%= d.profile %></a> 
				      </li>
				  <% end %>
				</ul> 
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_16' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Capacity Profiles</a>
				<ul id='c_16'>
				  <% @cprofiles.each do |c|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				        <a href='javascript:void(0);'><%= c.profile %></a> 
				      </li>
				  <% end %>
				</ul> 
			</li>
			<li>
				<a href='javascript:void(0);' childid = 'c_17' class='cat_close category'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
		    	<a href="">Event Lists</a>
				<ul id='c_17'>
 				  <% @events.each do |e|  %>
			     	  <li> 
			            <a href='javascript:void(0);' class='item'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				        <a href='javascript:void(0);'><%= e.event_type %></a> 
				      </li>
				  <% end %>
			  </ul> 
			</li>
		</ul>
      </div>
		<div id="content">
			<%= yield %>
		</div>
		</div>
</body>
</html>
