<p>
		<%= label_tag :name %>:
		<%=h item_show.name %>
</p>
<p>
		<%= label_tag :number_of_runs, 'Number of Runs' %>:
		<%=h item_show.number_of_runs %>
</p>
<p>
		<%= label_tag :mode %>:
	  <%=h item_show.mode %>
</p>
<p>
		<%= label_tag :b_time, 'Begin Time' %>:
	  <%=h item_show.b_time %>
</p>
<p>
		<%= label_tag :duration %>:
	  <%=h item_show.duration %>
</p>
<p>
		<%= label_tag :control %>:
	  <%=h item_show.control %>
</p>
<p>
		<%= label_tag :qcontrol, "Queue Control" %>:
	  <%=h item_show.qcontrol %>
</p>
<p>
		<%= label_tag :events %>:
	  <%=h item_show.events %>
</p>


</p>
