<% form_tag(process_choices_simulation_batch_path(@project)) do %>
<div>
	 <%= render :partial => 'simulation_batch/menu', 
               :locals => {:project => :project_id} %>
</div>
<div class="autoscroll">
<table class="index list"> 
	<thead>
	  <tr>
		  <th class='checkbox index-menu-multiple'>
				<%= link_to_function image_tag('toggle_check.png'), {}, :onclick => 'toggleIssuesSelection(Element.up(this, 	
							"form")); return false;', :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
       </th>
    
		<%= sort_header_tag('name', :caption => l(:field_name),:default_order => 'desc') %>
	    <th title="Sort by 'Owner'">Owner</th>
		<%= sort_header_tag('created_at', :caption => "Created",:default_order => 'desc') %>
	    <th title="Shared">Shared</th>
	  </tr>
	</thead>
	<tbody>
 <% if @item_count == 0 %>
	<tr>
	<td colspan='4' >No records to display</td>
	</tr>
<% end %>
<% @items_show.each_with_index do |sim,i| %>
  <tr class="user active <%= i%2==0 ? 'odd' : 'even' %>">
  <td class='index-menu-multiple'><%= check_box_tag("sim_ids[]", sim.id, false, { :id => sim.id.to_s + '-checkbox', :onclick => "processSimId('" + sim.id.to_s + "','" + sim.name + "');"}) %></td>
	<td  ><%= link_to_function sim.name, "show_box('simulation-info-#{sim.id}');" %></td>
 	<td  ><%= link_to_function "Test Report Gen", "show_box('report-generator');" %></td>
 	<td  ><%=h sim.created_at.strftime("%m/%d/%Y") %></td>
 	<td  >Not Implemented</td>
  </tr>
	<div class="simulation-info" id="simulation-info-<%= sim.id %>" style="display: none;">
		<button class="simulation-overlay-cancel config" id="<%= sim.id %>-overlay-cancel" onClick="hide_box('simulation-info-<%= sim.id %>')"></button>
		  <h2>Simulation Data Information</h2>
    <%= render :partial => 'simulation_batch/show', 
               :locals => {:item_show => sim} %>
  </div>

<% end %>
   </tbody>

</table>
<% end %>
	<div id="report-generator" style="display: none;" class="box tabular">
		<button class="simulation-overlay-cancel config" id="report-generator-overlay-cancel" onClick="hide_box('report-generator')"></button>
  	<%= render :partial => 'simulation_batch/report_generator/form'%>
	</div>


</div>
<p class="pagination"><%= pagination_links_full @item_pages, @item_count %></p>

<script language="javascript">
	function processSimId(val,name){
		strSimIds = 	document.getElementById('sim_ids').value;
		strSimList = 	document.getElementById('simulation_batch_list').firstChild.nodeValue;
		if(document.getElementById(val + '-checkbox').checked){
				  if(strSimIds.length > 0)
							strSimIds  += "," + val;
					else
						  strSimIds  = val;
				
					if(	strSimList.search("The system does not show you having chosen any simulations to report on.") != -1)
							strSimList = "- " + name + "\n";
					else
							strSimList += "- " + name + "\n";
		}
		else
		{
				strSimIds  = strSimIds.replace(val + ",","");
				if(str.search(val) != -1)
				 					strSimIds  = strSimIds.replace(val,"");
				 				
				strSimList = strSimList.replace("&#149; " + name + "<br>","");

		}
		document.getElementById('sim_ids').value = strSimIds;
		document.getElementById('simulation_batch_list').firstChild.nodeValue = strSimList;
		// alert(document.getElementById('simulation_batch_list').firstChild.nodeValue);
		// alert(document.getElementById('sim_ids').value);
	}


  

	var ol = new Overlay();

</script>